{% include 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body {
        background-color: grey;
    }
</style>
<br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h3> Password reset </h3>
    <hr>

    <p>Forgotten your password? Enter your email address below</p>

    <form method="post">
        {% csrf_token %}

        {{form|crispy}}
        <br>

        <button type="submit" class="btn btn-info navbar-btn text-white w-100 p-2">
            &nbsp;Send password reset link
        </button>
    </form>
</div>


{% endblock %}