

{% include 'store/base.html' %}

{% load static %}

{% block content %}

<style>
    body {
        background-color: grey;
    }
</style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h1>Welcome, {{user}}</h1>
        <hr>
        <p>This is dashboard where you can perform any of the following</p>
        <li>Track your orders</li>
        <li>Manage your account</li>

    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h4> Track your orders </h4>
        <p>Track all of your orders here</p>

        <hr>
        <a class="btn btn-info navbar-btn text-white" type="button" href="{% url 'track-orders' %}">
            Cart
        </a>
    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h4> Manage your account </h4>
        <p>You could update your account</p>
        <hr>
        <a class="btn btn-info navbar-btn text-white" type="button" href="{% url 'profile-management' %}">
            Profile management
        </a>
    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h4> Manage shipping </h4>
        <p>Enter a shipping address</p>
        <hr>
        <a class="btn btn-info navbar-btn text-white" type="button" href="{% url 'manage-shipping' %}">
            Manage-shipping
        </a>
    </div>

</body>
<br> <br>
{% endblock %}